.App {
  padding: 10px;
}

.FieldRow {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.FieldRow label {
  padding: 2px;
  font-size: 14px;
}

.FieldRow textarea,
.FieldRow input[type="text"] {
  font-size: 16px;
  padding: 10px;
  border: solid 1px hsl(0, 0%, 80%);
  border-radius: 4px;
}

.FieldError {
  font-size: 12px;
  color: #bf0f10;
}
