.SchemaEditor {
  border-top: solid 2px rgba(168, 63, 251, 0.4);
  padding: 10px;
  padding-top: 0;
}
.SchemaEditor h1 {
  padding: 5px;
  font-size: 18px;
}

.SchemaFieldForm {
  padding: 5px 15px 15px 15px;
}

.SchemaFieldFormMeta {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  color: #666666;
}

.NewFieldButton {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: 0;
  border-radius: 20px;
  padding: 12px;
  font-size: 16px;
  color: #2a2a2a;
  background-color: #eee;
}

.SubmitError {
  color: #bf0f10;
  padding: 0;
  text-align: right;
  width: 150px;
  font-size: 12px;
}
