.Table {
  border: solid 1px #eee;
  border-top: solid 10px #a83ffb;
  overflow: scroll;
}

.Table form {
  margin: 0;
}

.TableHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0;
}

.TableHeaderSpacer {
  margin: 0 10px;
}

.TableRowInner {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.TableRow,
.TableColumnHeader {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  align-items: stretch;
}

.TableRow > *,
.TableColumnHeader > * {
  flex-shrink: 0;
}

.TableColumnHeader {
  font-size: 12px;
  font-weight: 500;
  color: rgba(42, 42, 42, 0.5);
  background-color: rgba(42, 42, 42, 0.05);
  border-top: solid 1px rgba(42, 42, 42, 0.1);
  border-bottom: solid 1px rgba(42, 42, 42, 0.1);
}

.TableRow {
  font-size: 14px;
  font-weight: 400;
  color: #2a2a2a;
  box-sizing: border-box;
  border-top: solid 1px #eee;
}

.TableRow input {
  padding: 0 !important;
  outline: none !important;
  border: none !important;
}

.RowIdx {
  user-select: none;
  padding-left: 10px;
  width: 30px;
  font-size: 12px;
  font-weight: 500;
  color: #2a2a2a;
  opacity: 0.5;
}

.CellBox {
  padding: 8px;
  border-left: solid 1px #eee;
}
