.Table {
  border: solid 1px #eee;
  border-top: solid 2px #a83ffb;
  position: relative;
  display: table;
}

.TableTitle input {
  font-size: 18px;
  font-weight: bold;
  padding: 0 5px;
  margin: 0;
  outline: none;
  border: none;
}

.Table form {
  margin: 0;
}

.uSticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.TableHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  width: 100vw;
  position: sticky;
  left: 0;
  box-sizing: border-box;
}

.TableBody {
  display: table;
  min-width: 100%;
}

.TableSettings {
  margin: 10px;
  width: 20px;
  height: 20px;
}

.TableRowInner {
  display: flex;
  flex-direction: row;
  flex-grow: 100;
  align-items: stretch;
}

.TableRow,
.TableColumnHeader {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  align-items: stretch;
}

.TableColumnHeader {
  font-size: 12px;
  font-weight: 500;
  color: rgba(42, 42, 42, 0.5);
  background-color: rgba(245, 245, 245, 1);
  border-top: solid 1px rgba(42, 42, 42, 0.1);
  border-bottom: solid 1px rgba(42, 42, 42, 0.1);
}

.TableRow {
  font-size: 14px;
  font-weight: 400;
  color: #2a2a2a;
  box-sizing: border-box;
  border-top: solid 1px #eee;
}

.TableRowForm {
  display: flex;
  flex-grow: 1;
}

.RowIdx {
  user-select: none;
  margin-left: 10px;
  padding: 10px;
  min-width: 20px;
  font-size: 12px;
  font-weight: 500;
  color: #2a2a2a;
  opacity: 0.5;
}

.CellBox {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-left: solid 1px #eee;
}

.CellBoxError {
  border-bottom: solid 2px #bf0f10;
}

.ErrorMsg {
  font-size: 10px;
  color: #bf0f10;
}
